In [1]:
print('Hola Mundo')
import numpy as np
import pandas as pd

Hola Mundo

# Estamos probando

In [2]:
tabla = [[68, 75, 57, 79], [32, 45, 33, 31]]

In [3]:
tabla

[[68, 75, 57, 79], [32, 45, 33, 31]]

In [4]:
import numpy as np

In [5]:
t = np.array(tabla)
t

array([[68, 75, 57, 79],
       [32, 45, 33, 31]])

In [6]:
dic = {'Noreste':[68, 32], 'Sureste':[75, 45], 'Central':[57, 33], 'Costa Oeste':[79, 31] }
dic

{'Noreste': [68, 32],
 'Sureste': [75, 45],
 'Central': [57, 33],
 'Costa Oeste': [79, 31]}

In [7]:
dic['Costa Oeste']

[79, 31]

In [8]:
tc = pd.DataFrame(dic, index=['Metodo Actual', 'Metodo Nuevo'])
tc

               Noreste  Sureste  Central  Costa Oeste
Metodo Actual       68       75       57           79
Metodo Nuevo        32       45       33           31

In [9]:
tc

               Noreste  Sureste  Central  Costa Oeste
Metodo Actual       68       75       57           79
Metodo Nuevo        32       45       33           31

In [10]:
2+2

4